build
dist
.ghpages/

MANIFEST
.install_manifest.json
Viscid.egg-info/
viscid.sublime-workspace

sample/test.npz

tests/*.html
tests/plots

summary.html

*.pyc
*.pyo
*.pyd
*.o
*.so
*.so.dSYM

.tags
.DS_Store
